@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
    --primary-color: #0166ff;
    --header-text-color: #010101;
    --para-text-color: #717171;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}
